In [10]:
import findspark 
findspark.init()

In [11]:
from pyspark import SparkContext,SparkConf
conf=SparkConf()
sc=SparkContext(conf=conf)

In [27]:
from pyspark.sql import SQLContext,SparkSession,HiveContext
spark_sql_context=SparkSession.builder.appName('aadhaar_analysis').getOrCreate()

ImportError: cannot import name 'HiveContext' from 'pyspark.sql' (C:\Users\nbhatm\Downloads\Softwares\spark-3.0.0-preview-bin-hadoop2.7\spark-3.0.0-preview-bin-hadoop2.7\python\pyspark\sql\__init__.py)

In [28]:
aadhaar_data=spark_sql_context.read.csv("file:///C:/Users/nbhatm/Downloads/Nayana Other stuffs/Edureka Assignments/Datasets/UIDAI-ENR-DETAIL-20170308.csv",inferSchema=True,header=True)
aadhaar_data.show(10)

+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|     Registrar|    Enrolment Agency|        State| District|Sub District|Pin Code|Gender|Age|Aadhaar generated|Enrolment Rejected|Residents providing email|Residents providing mobile number|
+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh|Allahabad|        Meja|  212303|     F|  7|                1|                 0|                        0|                                1|
|Allahabad Bank|Asha Security Gua...|Uttar Pradesh|Sonbhadra| Robertsganj|  231213|     M|  8|                1|                 0|                        0|                                0|
|Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh|Sultanpur|   Sultanpur|  227812|     F| 13|                1|                 0|                        0|                                1|
|Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|   Shamli|      Shamli|  247775|     M|  6|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh|Gorakhpur|    Sahjanwa|  273001|     M|  8|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|      Pindra|  221101|     M| 14|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221001|     M|  9|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|     M|  4|                1|                 0|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|     M| 10|                0|                 1|                        0|                                1|
|Allahabad Bank|  Transmoovers India|Uttar Pradesh| Varanasi|    Varanasi|  221002|     M| 19|                1|                 0|                        0|                                1|
+--------------+--------------------+-------------+---------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 10 rows

In [37]:
aadhaar_data.createOrReplaceTempView("aadhaar_data_tmp")
identities_state=spark_sql_context.sql("select Sum(`Aadhaar generated`)as total,State from aadhaar_data_tmp group by State order by total DESC").show()
identities_enrolment=spark_sql_context.sql("select Sum(`Aadhaar generated`)as total,`Enrolment Agency` from aadhaar_data_tmp group by `Enrolment Agency` order by total DESC").show()
identities_top_10_district=spark_sql_context.sql(" select count(case when gender='M' then 1 end) as malecnt,count(case when gender='F' then 1 end) as femalecnt,district from aadhaar_data_tmp group by district order by malecnt DESC,femalecnt DESC").show()

+------+--------------+
| total|         State|
+------+--------------+
|162607|         Bihar|
|119901|   West Bengal|
|103767| Uttar Pradesh|
| 53276|Madhya Pradesh|
| 39570|     Rajasthan|
| 34844|       Gujarat|
| 32485|    Tamil Nadu|
| 26085|   Maharashtra|
| 19764|     Karnataka|
| 18182|        Odisha|
| 15143|        Kerala|
| 13227|   Uttarakhand|
|  9868|     Jharkhand|
|  8426|         Delhi|
|  6804|       Haryana|
|  6604|  Chhattisgarh|
|  6506|        Punjab|
|  6279|       Mizoram|
|  5798|Andhra Pradesh|
|  5018|     Telangana|
+------+--------------+
only showing top 20 rows

+------+--------------------+
| total|    Enrolment Agency|
+------+--------------------+
|173192|             CSC SPV|
| 39619|           Wipro Ltd|
| 26497|SREI INFRASTRUCTU...|
| 26253|SRM Education And...|
| 21823|        Computer LAB|
| 20163|Rajcomp Info Serv...|
| 17020|    MPOnline Limited|
| 16624|AKSH OPTIFIBRE LI...|
| 15993|Nielsen  India  P...|
| 15981|TAMILNADU ARASU C...|
| 14562|             Akshaya|
| 13126|   CMS Computers Ltd|
| 10644|IAP COMPANY Pvt. Ltd|
|  9922|VEETECHNOLOGIES P...|
|  9692|NPS Technologies ...|
|  8086|Karvy Data Manage...|
|  8079|               BASIX|
|  7041|A I Soc for Elect...|
|  7027|Centre for e-Gove...|
|  6946|Zephyr System Pvt...|
+------+--------------------+
only showing top 20 rows

+-------+---------+-----------------+
|malecnt|femalecnt|         district|
+-------+---------+-----------------+
|   4276|     2859|       Barddhaman|
|   3772|     3121|North 24 Parganas|
|   3630|     2448|South 24 Parganas|
|   3543|     1744|        Bhagalpur|
|   3485|     1766|            Patna|
|   3460|     1673|            Nadia|
|   3018|     1399|      Murshidabad|
|   2915|     1487|             Gaya|
|   2678|     1388|          Kolkata|
|   2622|     1352|          Katihar|
|   2522|     1195|       Samastipur|
|   2371|     1370|          Bhojpur|
|   2265|     1140|           Jaipur|
|   2219|     1092|        Ahmedabad|
|   2181|     1327|        Bengaluru|
|   2174|     1248|         Khagaria|
|   2099|      966|   East Champaran|
|   2084|      937|   West Champaran|
|   2053|     1003|           Munger|
|   1933|      618|        Madhubani|
+-------+---------+-----------------+
only showing top 20 rows